# Q-->1:Import pandas and check the version

In [1]:
import pandas as pd
print(pd.__version__)

1.0.5

# Q-->2:Create a series from a numpy array

In [2]:
name_date_of_birth = {
    "shashank":14051998, #DOB is in - DD|MM|YY
    "Ram":12011997,
    "ali":12041996,
    "shivani":16031999,
    "samriti":19091998
}
print(name_date_of_birth)
print(type(name_date_of_birth))
details = pd.Series(name_date_of_birth)
details

{'shashank': 14051998, 'Ram': 12011997, 'ali': 12041996, 'shivani': 16031999, 'samriti': 19091998}
<class 'dict'>

shashank    14051998
Ram         12011997
ali         12041996
shivani     16031999
samriti     19091998
dtype: int64

# Q-->3:How to Convert the index of a series into a column of a dataframe.

In [4]:
import pandas as pd 
  
df = pd.DataFrame({'Roll Number': ['20ME21', '20ME22', '20ME33', '20ME44'], 
                   'Name': ['Shashank', 'Ram', 'Shivani', 'ali'], 
                   'Marks In Percentage': [97, 90, 99, 92], 
                   'Grade': ['A', 'A', 'C', 'B'], 
                   'Subject': ['production', 'automobile', 'biotechnology', 'electrical']}) 
  
# Printing the dataframe 
df['index'] = df.index 
df

  Roll Number      Name  Marks In Percentage Grade        Subject  index
0      20ME21  Shashank                   97     A     production      0
1      20ME22       Ram                   90     A     automobile      1
2      20ME33   Shivani                   99     C  biotechnology      2
3      20ME44       ali                   92     B     electrical      3

# Q-->4: Write the code to list all the datasets available in seaborn library. Load the 'mpg' dataset

In [11]:
import seaborn as  sb # seaborn is for visualization of data 
#list of all the datasets
sb.get_dataset_names()  # auto mpg data is taken from kaggle 
#loading mpg dataset
df=sb.load_dataset('mpg')
#displaying first few records from mpg dataset
print(df.head())

C:\Users\91860\anaconda3\lib\site-packages\seaborn\utils.py:384: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 384 of the file C:\Users\91860\anaconda3\lib\site-packages\seaborn\utils.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  gh_list = BeautifulSoup(http)

    mpg  cylinders  displacement  horsepower  weight  acceleration  \
0  18.0          8         307.0       130.0    3504          12.0
1  15.0          8         350.0       165.0    3693          11.5
2  18.0          8         318.0       150.0    3436          11.0
3  16.0          8         304.0       150.0    3433          12.0
4  17.0          8         302.0       140.0    3449          10.5

   model_year origin                       name
0          70    usa  chevrolet chevelle malibu
1          70    usa          buick skylark 320
2          70    usa         plymouth satellite
3          70    usa              amc rebel sst
4          70    usa                ford torino

# Q-->5:Which country origin cars are a part of this dataset?

In [12]:
import seaborn as sb
#loading mpg dataset
df=sb.load_dataset('mpg')
print(df['origin'].unique())

['usa' 'japan' 'europe']

# Q--> 6:Extract the part of the dataframe which contains cars belonging to 'usa'

In [14]:
df[(df['origin']=='usa')]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
392,27.0,4,151.0,90.0,2950,17.3,82,usa,chevrolet camaro
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10